body {
    margin: 0;
    padding: 0;
}
p{
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul, li { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    color: #000;
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.btn{
    max-height: 40px;
    max-width: 160px;
    
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    padding: 9px 22px;

    color: #FFFFFF;
    background-color: #000;
    border: 0;
    -webkit-transition: .2s background-color ease;
    -o-transition: .2s background-color ease;
    transition: .2s background-color ease;
    cursor: pointer;
}
.btn:hover {
    background-color: #C29974;
}
.btn:focus {
    opacity: .7;
}
.container {
    margin: 0 auto;
    max-width: 1180px;
    padding: 0 110px;
}
                            /** Header **/

.header{
    padding-top: 50px;
    margin-bottom: 60px;
}
.header a {
    -webkit-transition: .3s opacity ease;
    -o-transition: .3s opacity ease;
    transition: .3s opacity ease;
}
.header a[href]:hover{
    opacity: 0.5;
}
.header a[href]:focus{
    opacity: 0.3;
}

.header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-left: 60px;
}
.nav__item{
    margin-right: 20px;
}
.nav__link{
    font-family: 'Open sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}
.search__btn {
    background-color: #fff;
    border: 0;

    margin-right: 24px;
    margin-left: auto;
}
.nav__contact {
    margin-right: 3px;
    font-family: 'Open sans', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    color: #000;
    text-decoration: none;
}

                            /* FOOTER */

.footer {
    position: relative;
    background-color: #434343;
    padding:100px 0;
}                     
.footer__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer__section{ 
    width: 380px;
}
.footer__title {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    color: #AAAAAA;
}
.footer__link {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 1;
    -webkit-transition: .2s opacity ease;
    -o-transition: .2s opacity ease;
    transition: .2s opacity ease;
}
.footer__link:hover {
    opacity: .5;
}
.footer__link:focus {
    opacity: .2;
}
.footer__list {
    border-top: 1px solid #666666;
    margin-top: 23px;
    padding: 28px 0;
}
.footer__item {
    margin-bottom: 15px;
}
.footer__item:last-child {
    margin-bottom: 0;
}

.form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.email {
    width: 300px;
    padding: 9px 0 9px 15px;
    background-color: #666666;
    border: 0;
    color:#EBEBEB;

    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
}
.email::-webkit-input-placeholder {
    color:#EBEBEB;
}
.email::-moz-placeholder {
    color:#EBEBEB;
}
.email:-ms-input-placeholder {
    color:#EBEBEB;
}
.email::-ms-input-placeholder {
    color:#EBEBEB;
}
.email::placeholder {
    color:#EBEBEB;
}
.social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
}
.icon__item {
    margin-right: 10px;
}
.footer__aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 25px;
    border-top: 1px solid #666;
}
.social__icon {
    opacity: 1;
    -webkit-transition: .2s opacity ease;
    -o-transition: .2s opacity ease;
    transition: .2s opacity ease;
}
.social__icon:hover {
    opacity: .5;
}
.icon__link:focus-within{
    opacity: .2;
}

                /** Rating star **/
.raiting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.raiting__text {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF; 
}
.raiting:hover .raiting__text{
    color: #C29974;
}
.raiting__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 105px;
    margin-left: 25px;
}
.raiting__list:focus-within {
    outline: 1px solid #D5D4E1;
}
.raiting__label {
    width: 14px; 
    height: 13px;
    margin: 4px 0 4px 0;
    position: relative;
    cursor: pointer;
    padding-right: 7px;
}
.raiting__label::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 13px;
    width: 14px;
    background-image: url(../image/icon/star.svg);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.raiting__label::after{
    content: "";
    display: block;
    position: absolute;
    height: 13px;
    width: 14px;
    background-image: url(../image/icon/starChecked.svg);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    opacity: 0;
}
.raiting__list > input:checked ~ .raiting__label::after {
    opacity: 1;
}
.raiting__list > input:hover,
.raiting__list > input:hover ~ .raiting__label::after {
    opacity: 1;
    background-image: url(../image/icon/starHover.svg);
}
.copyright {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF; 
}
.madein__text {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    opacity: 1;
    -webkit-transition: .2s opacity ease;
    -o-transition: .2s opacity ease;
    transition: .2s opacity ease;
}
.madein__text:hover {
    opacity: .67;
}
.madein__text:focus {
    opacity: .3;
}

                                /** H1 Titles **/
h1 {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
}

.bredcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
    margin-bottom: 40px;
}
.bredcrumbs__item {
    font-family:'Crimson Text', 'Arial', sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
    margin-right: 20px;
    opacity: 1;
    -webkit-transition: .2s opacity ease;
    -o-transition: .2s opacity ease;
    transition: .2s opacity ease;
}
.bredcrumbs__item:hover {
    opacity: .67;
}
.bredcrumbs__item:last-child{
    opacity: .5;
}
.bredcrumbs__item:last-child:hover {
    opacity: .3;
}
.bredcrumbs__item::after{
    display: block;
    content: '';
    height: 7px;
    width: 7px;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    position: relative;
    top: -18px;
    margin-left: 60px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);  
    
}
.bredcrumbs__item:last-child::after{
    display: none;
}
                                /** FORM **/
.contact__title {
    letter-spacing: 1px;
}
.popup {
    display: none;
    width: 680px;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -340px;
    margin-top: 200px;
    padding: 40px;
    background-color: #E5EAF8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 1;
}
.popup__close__btn {
    height: 15px;
    width: 15px;
    position: absolute;
    right: -25px;
    top: 0;
    border: none;
    background-color:transparent;
    background-image: url(../image/icon/X.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: .2s opacity ease;
    -o-transition: .2s opacity ease;
    transition: .2s opacity ease;
}
.popup__close__btn:hover {
    opacity: .5;
}
.popup__close__btn:focus {
    opacity: .3;
}
.field__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
}

.field input {
    height: 50px;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid #D9D9D9;
    cursor: pointer;
}
.input__popup:hover {
    border: 2px solid #B3B3B3;
}
.input__popup:focus{
    border: 2px solid #CCCCCC;
}
.field textarea {
    height: 153px;
    padding: 12px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid #D9D9D9;
}
.field__wrapper .field {
    width: 290px;
}
.field label {
    margin-bottom: 3px;
}
.checkbox {
    margin-bottom: 17px;
}
.checkbox:focus-within{
    outline: 1px solid #000;
}
.checkbox__label {
    position: relative;
    margin-left: 34px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #1E0606;
    cursor: pointer;
}
.checkbox__label::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 19px;
    width: 19px;
    border: 2px solid #C29974;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
}
.checkbox__label::after{
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: -30px;
    height: 15px;
    width: 15px;
    background-image: url(../image/icon/V.svg);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    opacity: 0;
}
.checkbox__input:checked + .checkbox__label::after {
    opacity: 1;
}
.popup__overlay {
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(125, 151, 218, 0.8);
    z-index: 0;
}
.open {
    display: block;
}
                                /** Shop slider **/
.shop__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 51px;
    margin-bottom: 60px;
}
.num {
    margin: 0 33px;
    padding: 0 5px;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1E0606;

    background-color: #fff;
    border: 0;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: .2s opacity ease;
    -o-transition: .2s opacity ease;
    transition: .2s opacity ease;
}
.num.active {
    color: #C29974;
}
.num:not(.active):hover {
    opacity: .5;
}
.shop__control{
    border: 0;
    background-color: #fff;
}
.control {
    height: 20px;
    width: 20px;
    border-top: 3px solid #E4E1E1;
    border-left: 3px solid #E4E1E1;
    cursor: pointer;
}
.control:hover{
    border-top: 3px solid #C29974;
    border-left: 3px solid #C29974;
}
.control:focus{
    border-top: 3px solid #C29974;
    border-left: 3px solid #C29974;
    opacity: .5;
}
.control.left {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.control.right {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
}
                /** disabled **/ 


.disabled__btn {
    background-color:#C1C1C1;
    color: #E1E1E1;
    pointer-events: none;
}
  
.disabled__input {
    opacity: .7;
    pointer-events: none;
}