.contact {
    margin-bottom: 60px;
}
.contact__wrapper{
    display: flex;
}
                    /** FORM >>>> **/
.form {
    width: 680px;
    background-color: #E5EAF8;
    padding: 40px;
    margin-right: 120px;
    box-sizing: border-box;
}
.field__wrapper {
    display: flex;
    justify-content: space-between;
}
.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 19px;

    color: #1E0606;
    
}

.field input {
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.field textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.field__wrapper .field {
    width: 290px;
}

.field label {
    margin-bottom: 3px;
}

.checkbox {
    margin-bottom: 17px;
}
.checkbox__label {
    position: relative;
    margin-left: 34px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #1E0606;
}
.checkbox__label::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 19px;
    width: 19px;
    border: 2px solid #C29974;
    box-sizing: border-box;
    border-radius: 3px;
}
.checkbox__label::after{
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: -30px;
    height: 15px;
    width: 15px;
    background-image: url(../image/icon/V.svg);
    box-sizing: border-box;
    opacity: 0;
}
.checkbox__input:checked + .checkbox__label::after {
    opacity: 1;
}
                                /** <<<< FORM **/
.content__info {
   width: 380px;
}

.text {
    font-family: 'Open Sans','Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}
.text p {
    margin-bottom: 20px;
}

.content__note {
    font-family: 'Montserrat','Arial', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
}

















